langchain
langchain-openai
dotenv
langchain-google-genai
langchain-anthropic
langchain_community.utilities
pypdf
beautyfulsoup4
wikipedia
langchain-text-splitters
langchain-ollama
langchain-chroma
langchain
langchain-anthropic
streamlit
langchain-community
langgraph
pydantic 